@import url('./__list/pagination__list.css');
@import url('./__list-item/pagination__list-item.css');
@import url('./__arrow/pagination__arrow.css');
@import url('./__list-num/pagination__list-num.css');

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}