.aside__search-input {
    display: block;
    width: 80%;
    padding: 6px 45px 6px 18px;
    border: 1px solid rgba(54, 56, 56, .7);
    border-radius: 20px;
}
.aside__search-input::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 27px;
    font-weight: 400;
    color: #a1a1a1;
}