.blog__tags-link {
    color: #8f8d8d;
    font-weight: 600;
    font-size: 14px;
    padding: 0 16px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
    border: 1px solid rgba(#454647, .5);
    border-radius: 14px;
}