.blog__blockquote-author {
    font-size: 16px;
    line-height: 22px;
    color: var(--title);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 23px;
    padding-top: 23px;
    position: relative;
    font-style: normal;
}

.blog__blockquote-author::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    width: 200px;
    border-radius: 1px;
    background-color: #6d7278;
    border-radius: 1px;
    margin: 0 auto;
}