.blog-one__links {
    padding: 40px 0 32px;        
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}