@import url('./_active/pagination__list-num--active.css');

.pagination__list-num {
    font-weight: 600;
    font-size: 14px;
    color: #707070;
}

/* .pagination__list-num--active {
    /* color: var(--title); 
    color: #363838;
} 
*/