.blog-one__form-input {
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    padding: 6px 17px;
    margin-bottom: 20px;
    width: 48%;
}
.blog-one__form-input::placeholder {
    color: #a1a1a1;
    font-weight: 400;
    font-size: 16px;
    line-height: 27;
    font-family: 'Open Sans', sans-serif;
}