.works-path__items-box {
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid rgba(54, 56, 56,.7);    
    position: relative;    
}
.works-path__items-box::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--title);
}