@import url('./__arrow/article-slider__arrow.css');
@import url('./__arrowleft/article-slider__arrowleft.css');
@import url('./__arrowright/article-slider__arrowright.css');

.article-slider {
    overflow: hidden;
    position: relative;
}

.swiper-button-next::after {
    display: none;
}

.swiper-button-prev::after {
    display: none;
}

