@import url('./_production/works-path__item--production.css');
@import url('./_consultation/works-path__item--consultation.css');
@import url('./_measuring/works-path__item--measuring.css');

.works-path__item {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    height: 100%;
}